<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.challenges.ChallengesActivity"
            android:label="@string/title_activity_challenges" >
        </activity>
        <activity
            android:name=".homepage.profile.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".homepage.achievements.AchievementsActivity"
            android:label="@string/title_activity_achievements" >
        </activity>
        <activity
            android:name=".homepage.ranking.RankingActivity"
            android:label="@string/title_activity_ranking" >
        </activity>
        <activity
            android:name=".homepage.review.ReviewActivity"
            android:label="@string/title_activity_review" >
        </activity>
        <activity
            android:name=".homepage.logout.LogoutActivity"
            android:label="@string/title_activity_signout" >
        </activity>
    </application>

</manifest>
